[submodule "lib/codec"]
	path = lib/codec
	url = /home/evmgolf/codec
[submodule "lib/uri"]
	path = lib/uri
	url = /home/evmgolf/uri
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
